p#latest {
    font-size: 32px;
    margin-bottom: 8px;
}

p#feedMissing, p#feedLoading {
    color: var(--text);
    opacity: 50%;
    font-size: 24px;
}

.conbutton {
    align-items: center;
    width: 48px;
    height: 48px;
    filter: drop-shadow(0px 0px 8px #000000C0);
}

.link-container:hover {
    scale: 1.125;
}

#links {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-bottom: 24px;
    align-items: flex-start;
}

.link-container {
    transition: scale ease-out 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    width: 48px;
    margin-left: 4px;
    margin-right: 4px;
}

#online-count {
    margin: 0px;
    color: var(--text);
    text-decoration: none;
}

#logo {
    margin: 8px;
    margin-bottom: 32px;
    width: min(65%, 640px);
}

a.feedlink {
    color: black;
    text-decoration: none;
    transition: scale ease-out 0.25s;
    border-radius: 8px;
    border: solid 2px black;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.feed-opener {
    text-align: left;
    background-color: var(--background-secondary);
    margin: 32px;
    max-width: 75%;
    padding: 16px;
    border-radius: 8px;
    outline: solid 4px var(--text);
    cursor: pointer;
    display: flex;
    height: 96px;
    flex-direction: row;
    align-items: center;
    transition: outline ease 0.25s;
}

.feed-opener:hover {
    outline-color: var(--link);
}

.feed-opener-details {
    display: flex;
    overflow: hidden;
    height: fit-content;
    flex-direction: column;
}

.feed-opener-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.feed-opener-thumbnail {
    height: 100%;
    width: auto;
    max-width: 128px;
    object-fit: cover;
    margin-right: 16px;
}

.feed-opener-date {
    margin-top: 4px;
    font-size: 12px;
    margin-bottom: 8px;
}

.feed-opener-summary {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 4px;
    margin-bottom: 0px;
}

@media screen and (max-width: 616px) {
    .feed-opener-title {
        font-size: 24px;
    }
}

#search-feed-query {
    margin-bottom: 16px;
    width: 512px;
    max-width: calc(100vw - 64px);
}

#refreshfeed {
    transition: scale ease-out 0.25s;
}

#refreshfeed:active {
    scale: 0.9;
}