.dark {
    --scrollbar: #48424e;
    --background-primary: #27262c;
    --background-secondary: #19191d;
    --text: #ffffff;
    --link: #1EBCF1;
}

.light {
    --scrollbar: #beb2c4;
    --background-primary: #e7e2f1;
    --background-secondary: #d8d2e3;
    --text: #000000;
    --link: #1448C2;
}

@font-face {
    font-family: Chivo;
    src: url("../fonts/Chivo.ttf");
}

body {
    background: var(--background-primary);
    color: var(--text);
    font-family: Chivo;
}

a {
    color: var(--link);
}

select, button, input {
    transition: scale ease-out 0.25s;
    border-radius: 8px;
    border: solid 2px black;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

button:hover:enabled {
    scale: 1.0625;
    cursor: pointer;
}

#page-content {
    position: absolute;
    top: 96px;
    left: 0px;
    right: 0px;
}

#openmenu {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
}

.changetheme {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.changetheme.mobile {
    position: fixed;
    display: none;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
}

.changetheme.desktop {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
}

#topbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--background-secondary);
    padding: 8px;
    box-shadow: 0px 0px 8px black;
    vertical-align: middle;
}

#topbar-logo {
    height: 64px;
    max-width: 100%;
    margin-right: 24px;
}

.topbar-opt {
    margin-left: 24px;
    margin-right: 24px;
    color: var(--text);
    text-decoration: none;
    font-size: 24px;
    transition: color ease 0.125s;
}

.topbar-opt:hover {
    color: var(--link);
}

#sidenav {
    height: 100%; /* 100% Full-height */
    width: 256px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -264px;
    background-color: var(--background-secondary); /* Pull from theme */
    box-shadow: 0px 0px 8px black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: left ease 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text);
    display: block;
    transition: 0.3s;
}

#sidenav .closemenu {
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: var(--background-secondary);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    width: 12px;
    margin: 4px;
    background-color: var(--scrollbar);
    border-radius: 16px;
}

img {
    max-width: 75%;
}

.light img.themed {
    filter: brightness(0);
}

@media screen and (max-width: 616px) {
    #openmenu {
        display: initial !important;
    }

    .changetheme.mobile {
        display: initial !important;
    }

    #topbar {
        display: none !important;
    }

    #page-content {
        top: 8px !important;
    }
}