body {
    margin-left: 0px;
    margin-right: 0px;
}

.center-vertical {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name {
    margin-top: 0px;
    margin-bottom: 8px;
}

.what-i-am {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.what-i-am>p {
    padding-left: 32px;
    padding-right: 32px;
    width: 256px;
    text-align: center;
    border-left: 1px solid white;
    font-size: 32px;
    margin-bottom: 64px;
}

.what-i-am>p:last-child {
    border-right: 1px solid white;
}

.underline-bar {
    display: block;
    position: relative;
    top: 8px;
    background-color: #FFFFFF80;
    width: 100%;
    height: 1px;
}

.home-links-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.home-links {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #FFFFFF80;
    border-top: 1px solid #FFFFFF80;
}

.contact {
    margin: 0px;
    font-size: 24px;
}

#contact-header {
    margin-top: 0px;
    font-size: 40px;
}

@media screen and (max-width: 512px) {
    .what-i-am {
        margin-top: 24px;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .what-i-am>p {
        padding-top: 16px;
        padding-bottom: 16px;
        border-left: none;
        border-top: 1px solid white;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 24px;
    }

    .what-i-am>p:last-child {
        border-right: none;
        border-bottom: 1px solid white;
    }

    .contact {
        font-size: 18px;
    }
}