body {
    margin-left: 32px;
    margin-right: 32px;
}

.figma-embed {
    position: fixed;
    left: 64px;
    top: 64px;
    width: calc(100vw - 128px);
    height: calc(100vh - 128px);
    border-radius: 8px;
    border: 8px solid black;
    box-sizing: border-box;
}

@keyframes fade-in {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

.project-popout {
    background-color: #000000C0;
    animation-name: fade-in;
    animation-duration: 0.375s;
    animation-timing-function: ease;
    transition: opacity 0.375s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
}

.project-panel {
    border-radius: 8px;
    background-color: black;
    width: calc(100% - 36px - 128px);
    height: calc(100vh - 128px);
    position: absolute;
    left: 64px;
    top: 64px;
    border: 2px solid white;
    padding: 16px;
    overflow-y: scroll;
}

.project-row {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-shrink: 1;
}

.project {
    background: none;
    color: white;
    backdrop-filter: brightness(0.75); /* THIS ONE ATTRIBUTE PREVENTS THE DEMONS INSIDE THE WEBSITE FROM RIPPING IT APART. DO NOT DELETE THIS. */
    border-radius: 16px;
    border: 4px solid white;
    outline: 8px solid transparent;
    outline-offset: 4px;
    width: 512px;
    height: 512px;
    margin: 32px;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    padding: 0px;
    padding-inline: 0px;

    transition: outline-color 0.125s ease-out, border-color 0.125s ease-out, color 0.125s ease-out;
}

.project:focus {
    outline-color: white;
    border-color: #0084ff;
    color: #0084ff;
}

.project:hover {
    color: #0084ff;
    border-color: #0084ff;
}

.project-header {
    height: 128px;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-header>h1 {
    margin: 4px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.project-header>h2 {
    margin: 4px;
}

.project-thumbnail-wrapper {
    display: flex;
    width: 100%;
    height: 376px;
    position: absolute;
    top: 128px;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

.project-thumbnail {
    width: calc(100% - 32px);
    height: 348px;
    object-fit: cover;
    margin: 16px;
}

.project-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 4px;
}

.project-dates {
    margin-top: 4px;
    margin-bottom: 32px;
    text-align: center;
}

.project-close {
    position: fixed;
    left: 80px;
    top: 80px;
    display: block;
    border: none;
    background: none;
    background-image: url("./img/close.png");
    background-size: cover;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.project-contents-header {
    font-size: 32px;
}

.project-contents-caption {
    font-size: 16px;
    font-style: italic;
    opacity: 75%;
    margin-top: 0px;
}

.project-contents-list-item {
    font-size: 20px;
}

.ordered-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.linkbar-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.project-contents-link {
    width: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 8px;
    margin-top: 8px;
    color: white;

    transition: color 0.25s ease-out, filter 0.25s ease-out;
}

.project-contents-link:hover, .project-contents-link:focus {
    color: #0084ff;
    filter: drop-shadow(0px 0px 8px #0084ff);
}

.project-contents-link:hover>.underline, .project-contents-link:focus>.underline {
    width: 100%;
}

.project-contents-link:focus {
    outline: none;
}

.project-contents-linkbar {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #FFFFFF80;
    border-top: 1px solid #FFFFFF80;
}

.project-contents-image {
    max-width: 50%;
}

@media screen and (max-width: 512px) {
    body {
        margin-left: 16px;
        margin-right: 16px;
    }

    .project-row {
        width: calc(100% - 64px);
        flex-direction: column;
    }

    .project {
        width: 100%;
        height: 296px;
    }

    .project-close {
        left: 16px;
        top: 16px;
    }

    .project-header {
        height: 80px;
    }

    .project-header>h1 {
        font-size: 26px;
    }

    .project-header>h2 {
        font-size: 16px;
    }

    .project-thumbnail-wrapper {
        height: 192px;
        top: 80px;
    }

    .project-thumbnail {
        width: calc(100% - 32px);
        height: 192px;
        object-fit: cover;
        margin: 16px;
    }

    .project-panel {
        left: 0px;
        top: 0px;
        width: calc(100% - 32px);
        height: 100vh;
        border: none;
    }
    .project-title {
        margin-top: 64px;
        font-size: 32px;
    }

    .project-contents-image {
        max-width: 100%;
    }

    .project-contents-link {
        font-size: 20px;
    }
}