.ap-item-filler {
    color: #00EEEE;
}

.ap-item-trap {
    color: #FA8072;
}

.ap-item-useful {
    color: #6495ED;
}

.ap-item-progression {
    color: #AF99EF;
}

.ap-location {
    color: #00FF7F;
}

.ap-player {
    color: #EE00EE;
}